body{
	background-image: url("../images/admintaust.jpg");
}
.tableView {
	color: white;
}
td{
	text-align:center;
}
p {
	color:white;
}
textarea {
    resize: none;
}

.btn-restoran { 
  color: #ffffff; 
  background-color: #611BBD; 
  border-color: #130269; 
} 
 
.btn-restoran:hover, 
.btn-restoran:focus, 
.btn-restoran:active, 
.btn-restoran.active, 
.open .dropdown-toggle.btn-restoran {
  color: #ffffff; 
  background-color: #49247A; 
  border-color: #130269; 
} 
 
.btn-restoran:active, 
.btn-restoran.active, 
.open .dropdown-toggle.btn-restoran { 
  background-image: none; 
} 
 
.btn-restoran.disabled, 
.btn-restoran[disabled], 
fieldset[disabled] .btn-restoran, 
.btn-restoran.disabled:hover, 
.btn-restoran[disabled]:hover, 
fieldset[disabled] .btn-restoran:hover, 
.btn-restoran.disabled:focus, 
.btn-restoran[disabled]:focus, 
fieldset[disabled] .btn-restoran:focus, 
.btn-restoran.disabled:active, 
.btn-restoran[disabled]:active, 
fieldset[disabled] .btn-restoran:active, 
.btn-restoran.disabled.active, 
.btn-restoran[disabled].active, 
fieldset[disabled] .btn-restoran.active { 
  background-color: #611BBD; 
  border-color: #130269; 
} 
 
.btn-restoran .badge { 
  color: #611BBD; 
  background-color: #ffffff; 
}